.container{display: flex;}

html{
    background-color: #040f47;
}


nav a{
    flex:1;
    text-align: center;
}
#footer{
    height:100px;
    background-color:black;
}

#hometext{
    font-size:30px;
    flex:3px;
    background-color: blue;
    border: solid 2px black;
    color: white;
    flex-wrap:nowrap;
}

#right{flex:30px;
height:200px;
width: 200px;
}
#left{
    flex: 1px;
    height: 100px;
    width: 100px;
}
.card{
    box-shadow: 1px 1px 1px;
    padding:8px 8px;
}

#nav{
    background-color: black;
    color:white;
}

#title{
    color: white;
}